<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>东南御膳堂--菜品管理</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{static_url("js/script.js")}}"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{static_url("css/bootstrap.css")}}">
    <!--external css-->
    <link rel="stylesheet" type="text/css" href="{{static_url("font-awesome/css/font-awesome.css")}}">
    <link rel="stylesheet" type="text/css" href="{{static_url("js/fancybox/jquery.fancybox.css")}}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{static_url("css/style.css")}}">
    <link rel="stylesheet" type="text/css" href="{{static_url("css/style-responsive.css")}}">

    <script src="{{static_url("js/jquery.js")}}")}}"></script>

      <script type="text/html" id="theTemplate">
          <tr class="menuItem">
              <td class="FN"><span id="foodName"></span></td>
              <td class="hidden-phone"><span id="foodCantId"></span></td>
              <td class="hidden-phone"><span id="foodWinId"></span></td>
              <td class="FP"><span id="foodPrice"></span></td>
              <td class="FIS"><span class="label label-info label-mini" id="foodIsSpecial"></span></td>
              <td>
                  <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                  <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
              </td>
          </tr>
      </script>


    <!-- HTML5 shim and Respond.js")}} IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")}}"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js")}}/1.4.2/respond.min.js")}}"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>东南御膳堂</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a data-toggle="modal" href="manageFood.html#logOutModal" class="logout"> 退出登录?</a></li>
           	  </ul>
        </div>
    </header>
      <!--header end-->

      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

              	  <p class="centered"><a href="profile.html"><img src="{{static_url("img/ui-sam.jpg")}}")}}" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">梅园-王经理</h5>
              	  <li class="mt">
              	  	<a class="active toIndex">
              	  		<em class="fa fa-dashboard"></em>
              	  		<span>控制台</span>
              	  	</a>
              	  </li>
              	  <li class="sub-menu">
                      <a>
                          <i class="fa fa-desktop"></i>
                          <span>精品菜谱</span>
                      </a>
                      <ul class="sub">
                          <li><a  class="toManageFoodofMei">梅园</a></li>
                          <li><a  class="toManageFoodofMei">桃园</a></li>
                          <li><a  class="toManageFoodofMei">橘园</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-cogs"></i>
                          <span>信息管理</span>
                      </a>
                      <ul class="sub">
                          <li><a  class="toFeedBack">梅园</a></li>
                          <li><a  class="toFeedBack">桃园</a></li>
                          <li><a  class="toFeedBack">橘园</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>经营统计</span>
                      </a>
                      <ul class="sub">
                          <li><a  class="toStatistics">梅园</a></li>
                          <li><a  class="toStatistics">桃园</a></li>
                          <li><a  class="toStatistics">橘园</a></li>
                      </ul>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      <div class="copyrights">Collect from <a href="http://www.seu.edu.cn/" >食小堂</a></div>

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
          	<h3><i class="fa fa-angle-right"></i> 菜谱管理</h3>
          	<hr>
                  <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
	                  	  	  <h4><i class="fa fa-angle-right"></i> 菜单详情</h4>
	                  	  	  <hr>
                              <thead>
                              <tr>
                                  <th><i class="fa fa-bullhorn"></i> 菜品名称</th>
                                  <th class="hidden-phone"><i class="fa fa-question-circle"></i> 菜品所属食堂</th>
                                  <th class="hidden-phone"><i class="fa fa-question-circle"></i> 菜品所属窗口</th>
                                  <th><i class="fa fa-bookmark"></i> 菜品价格</th>
                                  <th><i class=" fa fa-edit"></i> 是否特色菜品</th>
                                  <th></th>
                              </tr>
                              </thead>
                              <tbody id="test_template">
                              {%if food%}
                                  {%for f in food%}
                                      <tr class="menuItem">
                                          <td class="FN"><span>{{f.foodName}}</span></td>
                                          <td class="hidden-phone"><span>{{f.foodCantId}}</span></td>
                                          <td class="hidden-phone"><span>{{f.foodWinId}}</span></td>
                                          <td class="FP"><span>{{f.foodPrice}}</span></td>
                                          <td class="FIS"><span class="label label-info label-mini">{{f.foodIsSpecial}}</span></td>
                                          <td>
                                              <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                              <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                          </td>
                                      </tr>
                                  {%end%}
                              {%else%}
                              {%end%}
                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->

				<div class="row mt">
				</div><!-- /row -->

				<div class="row mt mb">
				</div><!-- /row -->

			<!-- INPUT MESSAGES -->
          	<div class="row mt">
          		<div class="col-lg-12">
          			<div class="form-panel">
                  	  <h4 class="mb"><i class="fa fa-angle-right"></i>新增菜品</h4>
                          <form class="form-horizontal tasi-form">
                              <div class="form-group has-success">
                                  <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">菜品名称</label>
                                  <div class="col-lg-10">
                                      <input type="text" class="form-control" id="inputName">
                                  </div>
                              </div>
                              <div class="form-group has-warning">
                                  <label class="col-sm-2 control-label col-lg-2" for="inputWarning">菜品价格</label>
                                  <div class="col-lg-10">
                                      <input type="text" class="form-control" id="inputPrice">
                                  </div>
                              </div>
                              <div class="form-group has-success">
                                <label class="col-sm-2 control-label col-lg-2">所属食堂</label>
                                  <div class="col-lg-10">
                                    <select class="form-control" id="inputCant">
						            <option>梅园</option>
						            <option>桃园</option>
						            <option>橘园</option>
						            </select>
                                  </div>
                              </div>
                              <div class="form-group has-warning">
                                  <label class="col-sm-2 control-label col-lg-2">所属窗口</label>
                                  <div class="col-lg-10">
                                      <input type="text" class="form-control" id="inputWin">
                                  </div>
                              </div>
                              <div class="form-group has-error">
                                <label class="col-sm-2 control-label col-lg-2">是否是特色菜</label>
                                <div class="switch switch-square" style="margin-left:15px;"
                                     data-on-label="<i class='fa fa-check'></i>"
                                     data-off-label="<i class='fa fa-times'></i>">
                                     <input type="checkbox" id="inputSpecial"/>
                                </div>
                              </div>
                              <button class="btn btn-primary btn-lg btn-block" type="button" id="addNewFood">新增</button>
                          </form>
          			</div><!-- /form-panel -->
          		</div><!-- /col-lg-12 -->
          	</div><!-- /row -->	
		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
       <footer class="site-footer">
          <div class="text-center"> <a href="http://www.seu.edu.cn" target="_blank" title="东南大学">东南大学</a>  <a href="http://http://www.seu.edu.cn" title="食小堂" target="_blank">食小堂</a> <a href="index.html#" class="go-top"> <em class="fa fa-angle-up"></em> </a></div>
      </footer>
      <!--footer end-->


      <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="logOutModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">退出登录?</h4>
                    </div>
                    <div class="modal-body">
                        <p> 您确定退出系统吗？</p>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                        <button class="btn btn-theme" type="button" id="logout">退出</button>
                    </div>
                </div>
            </div>
        </div>
      <!-- modal -->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
	<script src="{{static_url("js/fancybox/jquery.fancybox.js")}}"></script>
    <script src="{{static_url("js/bootstrap.min.js")}}"></script>
    <script class="include" type="text/javascript" src="{{static_url("js/jquery.dcjqaccordion.2.7.js")}}"></script>
    <script src="{{static_url("js/jquery.scrollTo.min.js")}}"></script>
    <script src="{{static_url("js/jquery.nicescroll.js")}}" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="{{static_url("js/common-scripts.js")}}"></script>

    <!--script for this page-->
    <script src="{{static_url("js/jquery-ui-1.9.2.custom.min.js")}}"></script>

	<!--custom switch-->
	<script src="{{static_url("js/bootstrap-switch.js")}}"></script>
	
	<!--custom tagsinput-->
	<script src="{{static_url("js/jquery.tagsinput.js")}}"></script>
	
	<!--custom checkbox & radio-->
	<script type="text/javascript" src="{{static_url("js/bootstrap-daterangepicker/date.js")}}"></script>
	<script type="text/javascript" src="{{static_url("js/bootstrap-inputmask/bootstrap-inputmask.min.js")}}"></script>
	<script src="{{static_url("js/form-component.js")}}"></script>    
    
  <script type="text/javascript">
      $(function() {
        //    fancybox
          jQuery(".fancybox").fancybox();
      });

  </script>

  <script>
      //custom select box
      $(function(){
          $("select.styled").customSelect();
      });

  </script>

  </body>
</html>
